.blue {
    background-color: #2196F3;
}

.red {
    background-color: #F44336;
}

.yellow {
    background-color: #FFEB3B;
}

.pink {
    background-color: #E91E63;
}

.green {
    background-color: #4CAF50;
}